.menu {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
  }
  
  
  .project {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    &-card {
      flex-basis: calc((100% - 30px * 2) / 3);
    
      transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    &-card:hover,
    &-card:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
  
 
  
  .project-descr {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
  }
  
  .project-link {
    display: block;
    text-decoration: none;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .project-link:hover,
  .project-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .project-title {
    color: var(--default-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
  
  .project-text {
    color: var(--paragraph-color);
    font-size: 16px;
    line-height: 2;
  }
  
  .project-wrapper {
    position: relative;
    overflow: hidden;
  }
  
  .project-overlay-text {
    color: var(--primary-white-color);
    font-size: 18px;
    line-height: 1.5;
    padding: 63px 24px;
  
    position: absolute;
  
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
  
    transform: translateY(101%);
  
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .project-link:hover .project-overlay-text,
  .project-link:focus .project-overlay-text {
    transform: translateY(0);
  }