
.section {
    padding-top: 60px;
    padding-bottom: 60px;


  }

  .section__title {
    color: var(--default-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 50px;
  }