

/*Base styles*/

body {
    color: var(--default-text-color);
    font-family: "Roboto", sans-serif;
    background-color: var(--primary-white-color);
    font-size: 14px;
    letter-spacing: 0.03em;
  }

  .portfolio {
    background-color: var(--primary-white-color);
  }